a, li, p, h1, h2, h3, h4, button{
	font-family: "Open Sans";
	font-size: 14px;
	font-weight: 20px;
	text-decoration: none;
	font-weight: 400;
	color: black;
}
footer{
	background: #0D3CD4;
}
li{
	display: inline-block;
}

.footer_menu{
	padding: 10px 0px 10px 0px;	
	text-align: center;
	justify-content: flex-end
}
.footer_menu a{
	color: white;
	display: block;
	font-weight: 500;
}
.footer_menu li{
	color: white;
    padding: 10px;
}

.name_fields{
	margin-bottom: 5px;
	text-align: center;
	align-items: center;
}
.footer_menu button{
	background: #0D3CD4;
	border: none;
	color: white;
	font-weight: 500;
	cursor: pointer;
	margin: -4px;
}

.service__base_menu{
	background: #0DA5D4;
}
.service__base_menu ul{
	padding: 10px 0px 10px 0px;
	text-align: center;
}
.service__base_menu li{
	padding: 10px;
	background: white;
	margin: 0px 5px 0px 5px;
	border: 1px solid #154bff;
    border-radius: 4px;
}
.service__base_menu li:hover{
	background: #e7eaff;
	text-decoration: underline 1.5px;
}


.service__base_menu a{
	display: block;
}

.service_h1{
    font-size: 30px;
    text-align: center;
    margin: 10px 10px;
    
}
.spis_orders, .spis_works{
	padding: 0px;
	background: #01f3eb26;
}
.spis_orders li{
	display: inline-block;
	border: 1px solid;
	padding: 10px 0px 10px 5px;
	text-align: center;
}

.spis_works li{
	display: inline-block;
	border: 1px solid;
	padding: 10px 0px 10px 5px;
	text-align: center;
}

.order_box{
	display: block;
	color: black;
	margin-bottom: 1px;
}
.spis_orders:hover{
	text-decoration: underline 1.5px;
}

.form_user{

	justify-content: center;
}
.form_user input{
	width: 97%;
	margin: 5px 0 15px 0;
}
.form_user lable{
	width: 97%;
}
.form_user button{
	width: 100%;
}

.loginuser{
	font-size: 30px;
    text-align: center;
    margin: 10px 0px 20px 0px;
}

#add_order, #add_work{
	position: absolute;
    z-index: -1;
    opacity: 0;
    display: block;
}

.add_order{
	margin: 10px;
	border: 2px solid;
	border-radius: 10px;
}
.add_order form{
	justify-content: space-between;
	margin: auto;
}
.add_order input{
	margin: 5px 0px 10px 0px;
}
.add_order button{
	margin: 10px 0px 10px 0px;
}
.add_order textarea{
	margin: 5px 0px 10px 0px;
}

.add__order_menu, .add__work_menu{
	background: white;
}

li.block_img{
	padding: 0px 0px 0px 0px;
}



