{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="{% static 'image/favicon.png' %}" type="image/png"/>
    <link rel="stylesheet" href="{% static 'css/reset.css' %}">
    <link rel="stylesheet" href="{% static 'css/setka.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>CRM</title>
</head>

<body>

<input class="back_button" type="button" onclick="history.back();" value=&#171;>

<nav>
    <div class="row col-12 justify__content__end" style="z-index:1;">
        <ul class="row col-12 footer_menu">

            {% if user.is_authenticated %}
            <li class="col-3">{{ user.first_name }}</li>
            {% if person.jod_title == 'Мастер' %}
            <li class="col-2"><a href="{% url 'register_user' %}">Зарегистрировать</a></li>
            {% elif person.jod_title == 'Механик' %}
            <li class="col-2">Выработка: {{ person.time }} н/ч</li>
            {% endif %}
            <li class="col-1">
                <form action="{% url 'logoutuser' %}" method="post">
                    {% csrf_token %}
                    <button>Выйти</button>
                </form>
            </li>
            {% endif %}

        </ul>
    </div>

    <div class="row service__base_menu col-12">
        <ul class="row col-12">

            {% if user.is_authenticated %}
            {% if person.jod_title == 'Механик' %}
            <li class="col-2"><a href="{% url 'order-for-mechanical' %}">Открытые з/наряды</a></li>
            {% elif person.jod_title == 'Мастер' %}
            <li class="col-2"><a href="{% url 'index' %}">Открытые з/наряды</a></li>
            <li class="col-2"><a href="{% url 'closed_orders' %}">Закрытые з/наряд</a></li>
            <li class="col-2"><a href="{% url 'depositary' %}">Склад</a></li>
            <li class="col-2"><a href="{% url 'view-workers' %}">Персонал</a></li>
            {% endif %}
            {% endif %}

        </ul>


    </div>
</nav>


<div class="container">
    <div class="row">

        <div class="col-12">
            {% block content %}

            {% endblock %}
        </div>

    </div>
</div>

<!--<footer>-->
<!--    <p>2023</p>-->
<!--</footer>-->

<script src="{% static 'js/jquery-3.6.4.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>

</body>
</html>