{% extends 'service/base.html' %}
{% block content %}

<div class="container">
    <div class="row">

        <div class="row add__order_menu service__base_menu col-12">
            <ul class="row col-12">
                {% if user.is_authenticated %}
                <li class="col-12 search_order">
                    <form class="row col-12" action="{% url 'closed_orders' %}">
                        <input class="col-7" type="search" placeholder="Поиск" name="search">
                        <input class="col-1" type="date" name="start-date" min="2023-01-01">
                        <input class="col-1" type="date" name="end-date" min="2023-01-01">
                        <button class="col-3" type="submit">Поиск</button>
                    </form>
                </li>
                {% endif %}
            </ul>
        </div>

        <h1 class="service_h1 col-12">Закрытые наряды</h1>
        <ul class="row name_fields col-12">
            <li class="col-1">№ З/Н</li>
            <li class="col-5">Клиент</li>
            <li class="col-2">VIN</li>
            <li class="col-2">Регистрационный номер</li>
            <li class="col-1">Дата открытия наряда</li>
            <li class="col-1">Дата закрытия наряда</li>
        </ul>

<!--    закрытые заказ наряды-->
        {% for order in orders %}
        <a href="{% url 'closed-works' order.id %}" class="row col-12 order_box">
        <ul class="row spis_orders col-12">
            <li class="col-1">{{ order.id }}</li>
            <li class="col-5" style="text-align: left;">{{ order.client }}</li>
            <li class="col-2">{{ order.vin_number }}</li>
            <li class="col-2">{{ order.registration_number }}</li>
            <li class="col-1">{{ order.date_start|date:'d.m.Y' }}</li>
            <li class="col-1">{{ order.date_completed|date:'d.m.Y' }}</li>
        </ul>
        </a>
        {% endfor %}

    </div>
</div>

        <!--пагинация-->
<div class="pagination">
    <span class="step-links">
        {% if orders.has_previous %}
            <a href="?page=1">&laquo; Первая</a>
            <a href="?page={{ orders.previous_page_number }}">&#8592;</a>
        {% endif %}

        <span class="current">
            Страница {{ orders.number }} из {{ orders.paginator.num_pages }}.
        </span>

        {% if orders.has_next %}
            <a href="?page={{ orders.next_page_number }}">&#8594;</a>
            <a href="?page={{ orders.paginator.num_pages }}">Последняя &raquo;</a>
        {% endif %}
    </span>
</div>

{% endblock %}