{% extends 'service/base.html' %}
{% load static %}
{% block content %}

<div class="container" style="margin-bottom: 30px;">
    <div class="row">

        <div class="col-12 row">
            <a class="col-1 btn_close_order" href="{% url 'reopening-order' order.id %}">Открыть новый</a>
            <h1 class="service_h1 col-10">Закрытый заказ-наряд № {{ order.id }}</h1>
        </div>

        {% if person.jod_title == "Мастер" %}
        <div class="row col-12 order_info">
            <ul class="row col-12">
                <li class="col-4">{{ order.client }}</li>
                <li class="col-2">{{ order.vin_number }}</li>
                <li class="col-2" style="text-align:center">{{ order.registration_number }}</li>
                <!--                стоимость работ-->
                {% if order.final_price %}
                <li class="col-2" style="text-align:right; background:#7bf57b">
                    Работы: {{ order.final_price|floatformat:2 }} руб.
                </li>
                {% else %}
                <li class="col-2" style="text-align:right; background:#7bf57b">
                    Работы: {{ order.final_price|floatformat:2 }} руб.
                </li>
                {% endif %}

                <!--                стоимость деталей-->
                {% if sum_detail %}
                <li class="col-2" style="text-align:right; background:#7bf57b">
                    Детали: {{ sum_detail|floatformat:2 }} руб.
                </li>
                {% else %}
                <li class="col-2" style="text-align:right; background:#7bf57b">
                    Детали: 0,00 руб.
                </li>
                {% endif %}


                <li class="col-8">Примечание: {{ order.notes }}</li>
                <li class="col-4" style="text-align:right; background:#7bf57b">
                    Итог: {{ sum_works_detail|floatformat:2 }} руб.
                </li>

                <li class="col-6">Дата открытия: {{ order.date_start }}</li>
                <li class="col-6">Дата закрытия: {{ order.date_completed }}</li>

            </ul>
        </div>
        {% endif %}

        <h1 class="service_h1 col-12">Работы</h1>

        <ul class="row name_fields col-12">
            <li class="col-1">№</li>
            <li class="col-3">Работа</li>
            <li class="col-2">Исполнитель</li>
            <li class="col-3">Статус</li>
            <li class="col-1">Норм/час</li>
            <li class="col-1">Стоимость/час(руб.)</li>
            <li class="col-1">Итог(руб.)</li>
        </ul>

        <!--        список работ-->
        {% for work in works %}
        <ul class="row spis_works col-12">
            <li class="col-1">{{ forloop.counter }}</li>
            <li class="col-3" style="text-align: left;">{{ work.name }}</li>
            <li class="col-2">{{ work.executor|title }}</li>
            {% if work.order_status == 'В работе' and work.executor == '' %}
            <li style="background:#fcee77" class="col-2">{{ work.order_status }}</li>
            {% elif work.order_status == 'Согласование' and work.executor == '' %}
            <li style="background:#ff0000b5" class="col-2">{{ work.order_status }}</li>
            {% else %}
            <li style="background:#7bf57b" class="col-3">{{ work.order_status }}</li>
            {% endif %}
            <li class="col-1">{{ work.standard }}</li>
            <li class="col-1">{{ work.price }}</li>
            <li class="col-1">{{ work.final_price|floatformat:2 }}</li>
        </ul>
        {% endfor %}


        {% if detail %}
        <h1 class="service_h1 col-12">Запчасти</h1>

        <!--        список запчастей-->
        <ul class="row name_fields col-12">
            <li class="col-1">№</li>
            <li class="col-2">Артикул</li>
            <li class="col-4">Название детали</li>
            <li class="col-1">Расположение</li>
            <li class="col-1">Вход руб.</li>
            <li class="col-1">Наценка %</li>
            <li class="col-1">Выход руб.</li>
            <li class="col-1">Количество, шт.</li>
        </ul>

        <!--        список запчастей-->
        {% for d in detail %}
        <ul class="row spis_works col-12">
            <li class="col-1">{{ forloop.counter }}</li>
            <li class="col-2">{{ d.part_number }}</li>
            <li class="col-4" style="text-align: left;">{{ d.part_name|capfirst }}</li>
            <li class="col-1">{{ d.part_location }}</li>
            <li class="col-1">{{ d.input_cost }}</li>
            <li class="col-1">{{ d.markup_cost }}</li>
            <li class="col-1">{{ d.output_cost }}</li>
            <li class="col-1">{{ d.quantity }}</li>
        </ul>
        {% endfor %}
        {% endif %}

    </div>
</div>


{% endblock %}