{% extends 'service/base.html' %}
{% block content %}

<div class="container">
    <div class="row">

        {% if person.jod_title == "Мастер" %}
        <div class="row add__order_menu service__base_menu col-12">
            <ul class="row col-12" style="justify-content: space-between">
                {% if user.is_authenticated %}
                <li class="col-2 add_ord"><label for="add_order">Создать з/наряд</label><input id="add_order" type="checkbox"></li>
                <li class="col-9 search_order">
                    <form class="row col-12" action="{% url 'index' %}">
                        <input class="col-7" type="search" placeholder="Поиск" name="search">
                        <button class="col-5" type="submit">Поиск</button>
                    </form>
                </li>
                {% endif %}
            </ul>
        </div>


        <div class="row col-12 add_order" style="display:{{ order_style }}">
                <form method="POST" class="row col-12">
                    {% csrf_token %}
                    <ul class="row col-12">
                        <li class="col-8">{{ form.client.label }}</li>
                        <li class="col-2">{{ form.vin_number.label }}</li>
                        <li class="col-2">{{ form.registration_number.label }}</li>
                    </ul>
                    <ul class="row col-12">
                        <li class="col-8">{{ form.client }}</li>
                        <li class="col-2">{{ form.vin_number }}</li>
                        <li class="col-2">{{ form.registration_number }}</li>
                    </ul>
                    <button class="col-4">Создать</button>
                    <button type="reset" class="col-4">Очистить</button>
                </form>
            </div>
        {% endif %}

        {% if messages %}
        <ul class="messages col-12 row">
            {% for message in messages %}
                <li class="messages_{{ message.tags }} row col-6"><p>{{ message }}</p></li>
            {% endfor %}
        </ul>
        {% endif %}

        <h1 class="service_h1 col-12">Открытые наряды</h1>
        <ul class="row name_fields col-12">
            <li class="col-1">№ З/Н</li>
            <li class="col-6">Клиент</li>
            <li class="col-2">VIN</li>
            <li class="col-2">Регистрационный номер</li>
            <li class="col-1">Дата открытия наряда</li>
        </ul>


        {% for order in orders %}
        <a href="{% url 'worksorder' order.id %}" class="row col-12 order_box">
            <ul class="row spis_orders col-12">
                <li class="col-1">{{ order.id }}</li>
                <li class="col-6" style="text-align: left;">{{ order.client }}</li>
                <li class="col-2">{{ order.vin_number }}</li>
                <li class="col-2">{{ order.registration_number }}</li>
                <li class="col-1">{{ order.date_start|date:'d.m.Y' }}</li>
            </ul>
        </a>
        {% endfor %}

    </div>
</div>


{% endblock %}