{% extends 'service/base.html' %}
{% block content %}

<div class="container">
    <div class="row">

<!--        поиск-->
        {% if person.jod_title == "Мастер" %}
        <div class="row add__order_menu service__base_menu col-12">
            <ul class="row col-12" style="justify-content: space-between">
                {% if user.is_authenticated %}
                <li class="col-2 add_ord"><label for="add_order">Открыть з/наряд</label><input id="add_order" type="checkbox"></li>
                <li class="col-9 search_order">
                    <form class="row col-12 search_or" action="{% url 'index' %}">
                        <input class="col-6" type="search" placeholder="Поиск" name="search">
                        <input class="col-2" type="date" name="start-date" min="2023-01-01">
                        <input class="col-2" type="date" name="end-date" min="2023-01-01">
                        <button class="col-2" type="submit">Поиск</button>
                    </form>
                </li>
                {% endif %}
            </ul>
        </div>


        <div class="row col-12 add_order" style="display:{{ order_style }}">
                <form method="POST" class="row col-12">
                    {% csrf_token %}
                    <ul class="row col-12">
                        <li class="col-8">{{ form.client.label }}</li>
                        <li class="col-2">{{ form.vin_number.label }}</li>
                        <li class="col-2">{{ form.registration_number.label }}</li>
                    </ul>
                    <ul class="row col-12">
                        <li class="col-8">{{ form.client }}</li>
                        <li class="col-2">{{ form.vin_number }}</li>
                        <li class="col-2">{{ form.registration_number }}</li>
                    </ul>
                     <div class="row col-12">
                        <p class="row col-12">{{ form.notes.label }}</p>
                    </div>
                    <div class="row col-12">
                        <p class="row col-12">{{ form.notes }}</p>
                    </div>
                    <button class="col-4">Создать</button>
                    <button type="reset" class="col-4">Очистить</button>
                </form>
            </div>
        {% endif %}

        {% if messages %}
        <ul class="messages col-12 row">
            {% for message in messages %}
                <li class="messages_{{ message.tags }} row col-6"><p>{{ message }}</p></li>
            {% endfor %}
        </ul>
        {% endif %}

        <h1 class="service_h1 col-12">Открытые наряды</h1>
        <ul class="row name_fields col-12">
            <li class="col-1">№ З/Н</li>
            <li class="col-6">Клиент</li>
            <li class="col-2">VIN</li>
            <li class="col-2">Регистрационный номер</li>
            <li class="col-1">Дата открытия наряда</li>
        </ul>

<!--        открытые заказ наряды-->
        {% for order in orders %}
        <a href="{% url 'worksorder' order.id %}" class="row col-12 order_box">
            <ul class="row spis_orders col-12">
                <li class="col-1">{{ order.id }}</li>
                <li class="col-6" style="text-align: left;">{{ order.client }}</li>
                <li class="col-2">{{ order.vin_number }}</li>
                <li class="col-2">{{ order.registration_number }}</li>
                <li class="col-1">{{ order.date_start|date:'d.m.Y' }}</li>
            </ul>
        </a>
        {% endfor %}

    </div>
</div>

        <!--пагинация-->
<div class="pagination">
    <span class="step-links">
        {% if orders.has_previous %}
            <a href="?page=1">&laquo; Первая</a>
            <a href="?page={{ orders.previous_page_number }}">&#8592;</a>
        {% endif %}

        <span class="current">
            Страница {{ orders.number }} из {{ orders.paginator.num_pages }}.
        </span>

        {% if orders.has_next %}
            <a href="?page={{ orders.next_page_number }}{% if request.GET.orders_s %}&orders_s={{ request.GET.orders_s }}{% endif %}">&#8594;</a>
            <a href="?page={{ orders.paginator.num_pages }}">Последняя &raquo;</a>
        {% endif %}
    </span>
</div>


{% endblock %}